# See https://atom.io/docs/latest/creating-a-package#menus for more details
# 'context-menu':
#   '.overlayer':
#       'Rename Coffee Refactor': 'coffee-refactor:rename'

'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'Coffee Refactor'
    'submenu': [
        'label': 'Toggle Highlight References'
        'command': 'coffee-refactor:toggle-highlight'
      ,
        'label': 'Rename References'
        'command': 'coffee-refactor:rename'
    ]
  ]
]
