# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Rename coffee-refactor': 'coffee-refactor:rename'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'coffee-refactor'
      'submenu': [
        { 'label': 'Rename', 'command': 'coffee-refactor:rename' }
      ]
    ]
  }
]
