.editor .coffee-refactor .marker .region {
  position: absolute;
  border-radius: 2px;
  box-sizing: content-box;
  padding: 0 0;
  margin: -1px 0 0 0;
  background-color: rgba(255,0,0,0.5);
  border: 1px solid #f00;
}
